/* font  */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font and Colour */
:root{
    --FF-VIETNAM : 'Be Vietnam Pro', sans-serif;
    --BRIGHT-RED:hsl(12, 88%, 59%);
    --DARK-BLUE:hsl(228, 39%, 23%);
    --DARK-GREYISH-BLUE:hsl(227, 12%, 61%);
    --VERY-DARK-BLUE:hsl(233, 12%, 13%);
    --VERY-PALE-RED:hsl(13, 100%, 96%);
    --VERY-LIGHT-GREY:hsl(0, 0%, 98%);
    --BOX-SHADOW: 0px 10px 30px rgba(0, 0, 0, 0.2);
}
a{
    text-decoration: none;
    color: unset;
}
li{
    list-style: none;
}
input{
    outline: none;
}
img{
    width: 100px;
}
body{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    font-family: var(--FF-VIETNAM);
    /* padding: 0px 40px; */
}
.none{
    display: none;
}
.btn{
    padding: 10px;
    background: var(--BRIGHT-RED);
    border: none;
    color: var(--VERY-LIGHT-GREY);
    border-radius: 20px;
    font-size: .8rem;
    box-shadow: var(--BOX-SHADOW);
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
    opacity: 0.8;
}



/* header */
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    max-width: 1300px;
    top: 0;
    height: 15vh;
     /* background: white;  */
     background-size: 20px;
    

  
}
.header .header__logo{
    width: 140px;
    height: 100px;
    
}
.header .header__logo img{
    max-width: 100%;
    object-fit: cover;
    width: 150px;
    position: relative;
    top: 5px;
    left: 15px;
   
}
.header .navlist{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    font-size: .9.7rem;
    position: relative;
    left: 70px;
}
.header ul li{
    transition: all .3s ease;
    color: var(--DARK-BLUE);
}
.header ul li:hover{
    opacity: .5;
}
.header .header__btn{
    padding: 10px;
    background: var(--BRIGHT-RED);
    border: none;
    color: var(--VERY-LIGHT-GREY);
    border-radius: 20px;
    font-size: .8rem;
    box-shadow: var(--BOX-SHADOW);
    position: relative;
    left: 222px;
    padding: 12px 15px;
    margin-top: 10px;
}
.hamburger{
    display: none;
}
.hamburger > i{
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    z-index: 1000;
}



/* media queries */
@media screen and (max-width: 800px){
    .header__btn{
        display: none;
    }
    .header .navlist{
        flex-direction: column;
        position: absolute;
        background: var(--VERY-LIGHT-GREY);
        width: 330px;
        padding: 20px 0px;
        top: 180px;
        left: 200px;
        height: 40vh;
        left: -1000px;
        opacity: 0;
        transition: all .3s ease;
        z-index: 2000;
    }
    .header .navlist.active{
        opacity: 1;
        left: 200px;
    }
 .hamburger{
        display: flex;
    }
}
@media screen and (max-width: 540px){
    .header .navlist.active{
         left: 50%;
          top: 260%;
          transform: translate(-50%, -50%);
    } 
}


/* /header media queries / */
/* main */

/* Side-bar */
main{
    background: url(images/bg-tablet-pattern.svg) top right / 700px 750px no-repeat, 
    url(images/bg-tablet-pattern\ 2.svg) top left / 620px 700px  no-repeat ;
    padding : 18vh 6vw;
    background-position: 119% -20%, -40% 85% ;  

}
main .Side-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
    
}
main .Side-bar-info {
    padding: 0px 7px;
    color: var(--DARK-BLUE);
}
main .Side-bar-info h2{
    font-size: 8em;
    
    

}

main .Side-bar-info p{
    font-size: .9rem;
    margin: 15px 0px;
    color: var(--DARK-GREYISH-BLUE);
    line-height: 1.7;
   
}


main .Side-bar-info .Side-bar__btn{
    padding: 12px 15px;
    margin-top: 10px;
}
main .Side-bar-image{
    width: 450px;
    position: relative;
    left: 80px;
}
main .Side-bar-image img{
    width: 100%;
    object-fit: cover;
    
}

/* media queries */
@media screen and (max-width: 820px){
    main .Side-bar{
        grid-template-columns: 1fr;
    }
    main .Side-bar-info {
        order: 2;
        text-align: center;
    }
    main .Side-bar-image{
        order: 1;
        width: 100%;
        position: relative;
        left: -10px;

    }
    main .Side-bar-info h2{
        font-size: 2.4rem;
    }
    main .Side-bar-info p{
        font-size: 1rem ;
    }
}
    
@media screen and (max-width: 500px){
    main .Side-bar-info h2{
        font-size: 1.3rem;
        padding: 0;
    }

    main{
        background: url(images/bg-tablet-pattern.svg) top right / 500px  no-repeat,
        url(images/bg-tablet-pattern\ 2.svg) top right/ 400px  no-repeat ;
        padding : 18vh 6vw;
            background-position: -300% -2%, 350% 22% ;
    }
    
    main .Side-bar-image{
        order: 1;
        width: 90%;
        position: relative;
        left: -10px;
    }

    
}
main .Side-bar-info h2{
    font-size: 3rem;
}

@media screen and (max-width: 375px){
    main .Side-bar-image{
        order: 1;
        width: 90%;
        position: relative;
        left: 35px;
    }    

    main{
        background: url(images/bg-tablet-pattern.svg) top right / 400px 430px no-repeat ,  
        url(images/bg-tablet-pattern\ 2.svg) top right/ 400px   no-repeat ;
        padding : 18vh 6vw;
            background-position: -180% -2% , -400% 23% ;
    }

}


/* Side-Bar media queries */


/* about */



main .about{
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25vh;

    
}
main .about .about__header h2{
    font-size: 2.7rem;
    color: var(--DARK-BLUE);
}

main .about .about__header p{
    margin: 10px 0px;
    font-size: .905rem;
    line-height: 1.7;
    color: var(--DARK-GREYISH-BLUE);
}

main .about .about__description h2{
    font-size: 1.1rem;
    margin: 10px 0px;
    color: var(--DARK-BLUE);
}
.about_counter{
    background: var(--BRIGHT-RED);
    color: var(--VERY-LIGHT-GREY);
    padding: 6px 20px;
    font-size: .8rem;
    border-radius: 20px;
    margin-right: 20px;
}

main .about .about__description p{
    font-size: .805rem;
    margin: 20px 0px 5px 70px;
    line-height: 1.7;
    color: var(--DARK-GREYISH-BLUE);
    position: relative;
    left: 12px;
    bottom: 15px;

}

main .about .about__description{
    position: relative;
    left: 430px;
    bottom: 20px;
}

/* media queries  */
@media screen and (max-width: 500px){
    main .about{
        display: flex;
        flex-direction: column;
    }

    main .about .about__header h2{
        font-size: 2.3rem;
        text-align: center;
        
       
        
    }

    main .about .about__header p{
        text-align: center;
    }

    main .about .about__description{
        position: relative;
        left: -10px;
    }

    main .about .about__description h2{
        background-color: var(--VERY-PALE-RED);
        background-size: auto;
    }


    @media screen and (max-width: 375px){
        main .about .about__description h2{
            font-size: .8rem;

        }


    }

    
   main .about .about__description{
    position: relative;

    top: 10px;
}

  main .about .about__header h2{
    font-size: 2.3rem;
    
    
}

}
 


/* about-media queries */

/* testimonials */
main .testimonials{
    margin: 20vh 0px 0px;
    max-width: 100%;
    
    
}
main .testimonials .testimonials-cards{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}  
   



    main .testimonials .testimonials-cards .testimonials-gallery .Test-title{
    color: var(--DARK-BLUE);
    position: relative;
    bottom: 50px;
    text-align: center;
    

}

main .testimonials .testimonials__card-info{
    background: var(--VERY-LIGHT-GREY);
    padding: 10px 6px;
    text-align: center;
    position: relative;
    cursor: pointer;
    height: 30vh;

}



main .testimonials .testimonials__card-info img{
    width: 60px;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
}
main .testimonials .testimonials__card-info h2{
    font-size: .8rem;
    margin: 30px 0px 0px;
    color: var(--DARK-BLUE);
}

main .testimonials .testimonials__card-info p{
    font-size: .805rem;
    line-height: 1.7;
    margin-top: 20px;
    color: var(--DARK-GREYISH-BLUE);
}
main .testimonial__btn {
    display: flex;
    justify-content: center;
   
}
    main .testimonial__btn .btn{
    margin: 10px 0px;
}

.testimonials-gallery-wrapper{
    padding: 30px 0px;
    display: flex;
    gap: 20px;
    width: 115%;
    position: relative;
    right: 86px;


    
}
/* media queries */
 
  

    
    @media screen and (max-width: 500px) {
    main .testimonials .testimonials__card-info{
        height: 30vh;
    }

    .testimonials-gallery-wrapper{
        
       width: 100%;
        flex-direction: column;
        position: relative;
        right: 0px;
        

    }
    }

@media screen and (max-width: 375px) {
    main .testimonials .testimonials__card-info{
        height: 33vh;

   
    }


}
    
/*  testimonials- media queries */
/* main */

/* Pre-Footer */
.Pre-Footer{
    height: 25vh;
    display: flex;
    justify-content: space-around;
    padding: 6vh 0px;
    align-items: center;
    background-image: url(images/bg-tablet-pattern.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--BRIGHT-RED);
    background-blend-mode:color-burn;
    /* width: 100rem;  
    position: relative;
    right: 120px ; */
    
}
.Pre-Footer h2{
    color: var(--VERY-LIGHT-GREY);
    font-size: 2rem;
    position: relative;
    right: 150px;
}
.Pre-Footer .Pre-Footer__btn{
    background: var(--VERY-LIGHT-GREY);
    color: var(--BRIGHT-RED);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
}
 /* media queries */
 @media screen and (max-width: 500px) {
    .Pre-Footer{
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 280px;
    }
    .Pre-Footer h2{
        font-size: 2rem;
        padding: 5px 5px;
        text-align: center;
        position: relative;
        left: 10px;
        word-break: break-all;
        
    } 
}
@media screen and (max-width: 375px) {
    .Pre-Footer h2{
        font-size: 1.6em;
        text-align: center;
}
}

 /* Pre-Footer-media queries x*/


/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 10vh 18vh;
    background: var(--VERY-DARK-BLUE);
    color: var(--VERY-LIGHT-GREY);
    position: relative;
    width: 100%;
     
}
.footer .footer-one{
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.footer .footer-one .footer_logo{
    filter: brightness(10);
}

.footer .footer-one .footer__icons > i{
    margin: 0px 7px 0px 0px;
    font-size: 1.3rem;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
    top: 80px;
}
.footer .footer-one .footer__icons > i:hover{
    color: var(--BRIGHT-RED);
}
.footer .footer-two ul li,
.footer .footer-three ul li{
    margin: 15px 0px;
    transition:  all .3s ease;
    cursor: pointer;
}

.footer .footer-two ul li:hover,
.footer .footer-three ul li:hover{
    color: var(--BRIGHT-RED);
}
.footer .footer-four {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer .footer-four .footer__form input{
    padding: 10px 10px;
    outline: none;
    border-radius: 30px;
    border: none;
    position: relative;
    bottom: 50px;
}

footer .footer-four .footer__form input::placeholder{
    color: var(--DARK-GREYISH-BLUE);
}
footer .footer-four .footer_form .footer_btn{
    padding: 7px 15px;    
    border-radius: 20px;
    font-size: .9rem;
    margin-left: 4px;
    position: relative;
    bottom: 50px;
}
.footer .footer-four small{
    color: var(--DARK-GREYISH-BLUE);
}

.footer-wrap{
    display: flex;
    gap: 250px;
    position: relative;
    bottom: 22px;
    line-height: 30px;
}


      
 /* media queries footer */

      
      
 @media screen and (max-width: 500px) {
    .footer {

        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }

    .footer__copyright {
        position: absolute;
        bottom: 0;
    }


    .footer-wrap {
        gap: 65px;
        font-size: .8rem;
        justify-content: center;
        word-spacing: -1px;

    }


    .footer__icons {
        position: relative;
        bottom: 130px;
    }

    .footer__icons i {
        padding: 0 6px;
    }

    .footer_logo {
        position: relative;
        top: 70px;
        left: 50px;

    }

    .footer .footer-four .footer__form input {

        width: 350px;
        margin-right: 40px;
    }

    .footer .footer-four .footer_form .footer__btn {
        padding: 10px 15px;
        font-size: .9rem;
        position: absolute;
        bottom: 393px;
        right: 35px;
    }

    .footer__copyright {
        font-size: smaller;
        margin-left: 100px;

    }

}

@media screen and (max-width: 375px) {
        .footer .footer-four .footer__form input{

                width: 230px;
               margin-right: 50px;
               
        }

        .footer .footer-four .footer_form .footer_btn{
            bottom: 387px;
            right: 35px;
        }

        .footer-wrap{
            display: flex;
            font-size: .6rem;
            gap: 110px;
            word-spacing: -1px;
            min-width: 150%;


    
        }

        
        .footer .footer-one .footer__icons  {
            /* padding:  5% 5%; */
            min-width: 170%; 
            
        }

        .footer .footer-one .footer__icons > i{
            position: relative;
            right: 40px;
        }

        .footer_logo{
            position: relative;
            top: 70px;
            left: 8px;

    }
        .footer__copyright{
            font-size: smaller;
            margin-left: 40px;
    
    }

}

 /* footer media queries */
